<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="lib/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- 循环普通数组 -->
        <!-- <h1 v-for="(item,i) in list">数值是{{item}}--索引是{{i}}</h1> -->
        <!-- 循环数组对象 -->
        <!-- <h1 v-for="(item,i) in list1">id为{{item.id}}--name为{{item.name}}--索引为{{i}}</h1> -->
        <!-- 循环数 从1开始-->
        <h1 v-for="count in 10">这是{{count}}</h1>
    </div>
    <script>
    var vm = new Vue({
        el:"#app",
        data:{
            list:[1,2,3],
            list1:[{id:'1',name:'zs'},{id:'2',name:'zs2'},{id:'3',name:'zs3'},]
        }
    })
    </script>
</body>
</html>